<form method="post">
<label for="title">Project Name: </label>
<input type="text" name="title" id="title">
<button type="submit" class="btn btn-info">Create Project</button>
</form>

<h1>Projects:</h1>

<ul>
  <% @projects.each do |project| %>
  <li><a href="/project/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
</ul>
