<h1 class="jumbotron"><%= @project.title %></h1>

<form method="post">
<label for="name">Volunteer Name: </label>
<input type="text" name="name" id="name">
<button type="submit" class="btn btn-info">Update Volunteer</button>
</form>


<ul>
  <% @volunteers.each do |volunteer| %>
  <li><%= volunteer.name %></li>
    <% end %>
</ul>

<a href="/"> <button type="button" name="button">Home</button> </a>
