<h1 class="jumbotron"><%= @project.title %></h1>

<form method="post">
  <label for="name">Volunteer Name: </label>
  <input type="text" name="name" id="name">
  <button type="submit" class="btn btn-info">Update Volunteer</button>
</form>


<% @volunteers.each do |volunteer| %>
<ul>
  <% if @project.id == volunteer.project_id %>
  <li><%= volunteer.name %></li>
</ul>
<% end %>
<% end %>

<a href="/"> <button type="button" class="btn btn-info">Home</button> </a>
